@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono-Regular.ttf');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

html {
  font-family: 'IBMPlexMono', 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  @apply bg-white dark:bg-stone-950 transition-colors duration-300;
}

.dynamic-underline {
  @apply relative inline-block no-underline transition-colors duration-300;
}

.dynamic-underline::after {
  @apply content-[''] absolute w-full h-[2px] bottom-0 left-0 bg-black dark:bg-white transition-all duration-300;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.dynamic-underline:hover::after {
  @apply origin-bottom-left;
  transform: scaleX(1);
}
